@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.lexend-fonts {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#nav-section{
  background: rgba(253, 241, 224, 0.9);
  backdrop-filter: blur(1px);
  box-shadow: 0 20px 30px rgba(255, 248, 235, 0.9) ;
 
}
#nav-border{
  background-color: rgba(255, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow:20px;
}
