@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend-fonts {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#nav-section {
  background: rgba(247, 235, 219, 0.9);
  backdrop-filter: blur(1px);
  box-shadow: 0 20px 30px rgba(217, 207, 189, 0.9);

}

#nav-border {
  background-color: rgba(192, 182, 182, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 20px;
}

